@require "variables"
@require "main"
@require "sidebar"

.sets-description {
  font-family: secondary-font;
  font-weight: 300;
  margin: 10px 5px 5px 5px
}

.left-top-sign-div {
   margin: unset;
   border-bottom: 0px;
   width:95%;
}

.right-top-sign-div {
    width: 5%;
}
